html
    head
        title='Articulos Pug'
    body
        h1='Productos'
        ul
            each products in info
            li 
                div 
                    p=products.title
                    p=products.price
                    p=products.description
            
          